.ca-menu {
  padding: 0;
  margin: 20px auto;
  width: 500px;
  li {
    width: 500px;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: block;
    background: #fff;
    @include box-shadow (1px 1px 2px rgba(0, 0, 0, 0.2));
    margin-bottom: 4px;
    @include transition (all 300ms linear);
    &:last-child {
      margin-bottom: 0px;
    }
    a {
      text-align: left;
      width: 100%;
      height: 100%;
      display: block;
      color: #333;
      position: relative;
    }
  }
}

.ca-icon {
  font-family: 'WebSymbolsRegular', cursive;
  font-size: 20px;
  text-shadow: 0px 0px 1px #333;
  line-height: 90px;
  position: absolute;
  width: 90px;
  left: 20px;
  text-align: center;
  @include transition (all 300ms linear);
}

.ca-content {
  position: absolute;
  left: 120px;
  width: 370px;
  height: 60px;
  top: 20px;
}

.ca-main {
  font-size: 30px;
  @include transition (all 300ms linear );
}

.ca-sub {
  font-size: 14px;
  color: #666;
  @include transition ( all 300ms linear );
}

.ca-menu li:hover {
  background-color: #000;
  .ca-icon {
    color: #f900b0;
    font-size: 120px;
    opacity: 0.2;
    left: -20px;
    @include transform (rotate(20deg));
  }
  .ca-main {
    color: #f900b0;
    opacity: 0.8;
  }
  .ca-sub {
    color: #fff;
    opacity: 0.8;
  }
}

